body {
  background-color: #000;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: #fff;
  width: 300px;
  border-radius: 16px;
}

.row {
  display: flex;
}